<div xmlns="http://www.w3.org/1999/xhtml"
     lang="en"
     data-namespace-typo3-fluid="true"
     xmlns:vh="http://typo3.org/ns/BDM/BdmVhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
	
	<div class="el-debug-control" data-trigger-toggle-selector="{triggerToggleSelector}"  aria-hidden="true">
		<div class="container">
			<div class="row">
				<div class="col">
					<vh:webpack.version path="EXT:bdm_theme_su/Resources/Private/Webpack/package.json" />
					
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" id="toggle-grid" data-action="toggle-grid">
						<label class="form-check-label" for="toggle-grid">Layout-Columns</label>
					</div>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" id="toggle-grid-fluid" data-action="toggle-grid-fluid">
						<label class="form-check-label" for="toggle-grid-fluid">Layout-Columns (fluid)</label>
					</div>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" id="toggle-breakpoints" data-action="toggle-breakpoints">
						<label class="form-check-label" for="toggle-breakpoints">Breakpoints</label>
					</div>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" id="toggle-debug-ces" data-action="toggle-debug-ces">
						<label class="form-check-label" for="toggle-debug-ces">Content-Elements</label>
					</div>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" id="toggle-smallgrid" data-action="toggle-smallgrid">
						<label class="form-check-label" for="toggle-smallgrid">Grid </label>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</div>
