<div xmlns="http://www.w3.org/1999/xhtml"
     lang="en"
     data-namespace-typo3-fluid="true"
     xmlns:vh="http://typo3.org/ns/BDM/BdmVhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
	
	<div class="el-debug-page" aria-hidden="true" style="display:none;">
		<div class="bootstrap-grid-overlay">
			<div class="container">
				<div class="row">
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
				</div>
			</div>
		</div>
		<div class="bootstrap-grid-overlay-fluid">
			<div class="container-fluid">
				<div class="row">
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
					<div class="col-1"></div>
				</div>
			</div>
		</div>
		<div class="bootstrap-breakpoints-overlay">
			<f:variable name="breakpoints" value="{0: 'xs', 1: 'sm', 2: 'md', 3: 'lg', 4: 'xl', 5: 'xxl'}" />
			<f:variable name="breakpointSelectorParts" value="{0: '-xs', 1: '-sm', 2: '-md', 3: '-lg', 4: '-xl', 5: '-xxl'}" />
			<f:for each="{breakpoints}" as="breakpoint" key="index" iteration="iter">
				<f:variable name="nextIndex" value="{iter.cycle}" />
				<f:variable name="prevIndex" value="{iter.cycle - 2}" />
				<f:variable name="nextBreakpoint" value="{breakpoints.{nextIndex}}" />
				<f:variable name="prevBreakpoint" value="{breakpoints.{prevIndex}}" />
				
				
				<f:variable name="currentSelectorPart" value="{breakpointSelectorParts.{index}}" />
				<f:variable name="nextSelectorPart" value="{breakpointSelectorParts.{nextIndex}}" />
				<f:variable name="prevSelectorPart" value="{breakpointSelectorParts.{prevIndex}}" />
				
				<f:comment>
					always visible & hidden in current breakpoint & visible in next breakpoint
				</f:comment>
				<div style="--debug-breakpoint-name: '{breakpoint}'" class="container container{currentSelectorPart} d-block d{currentSelectorPart}-none d{nextSelectorPart}-block ">
					<span class="label">
						<span class="lower"></span>
						<span class="separator"></span>
						<span class="upper"></span>
					</span>
				</div>
				<f:comment>
					visible only in current breakpoint
				</f:comment>
				<div style="--debug-breakpoint-name: '{breakpoint}'" class="container container{currentSelectorPart} active d-none d{currentSelectorPart}-block  d{nextSelectorPart}-none">
					<span class="label">
						<span class="lower"></span>
						<span class="separator"></span>
						<span class="upper"></span>
					</span>
				</div>
			</f:for>
			
			<f:comment>
				<div class="container-xs"><span class="label">XS: <span class="lower"></span> 0px - 576px <span class="separator"></span><span class="upper"></span></span></div>
				<div class="container-sm"><span class="label">SM: <span class="lower"></span> 576px - 720px <span class="separator"></span><span class="upper"></span></span></div>
				<div class="container-md"><span class="label">MD: <span class="lower"></span> 720px - 768px <span class="separator"></span><span class="upper"></span></span></div>
				<div class="container-lg"><span class="label">LG: <span class="lower"></span> 960px <span class="separator"></span><span class="upper"></span></span></div>
				<div class="container-xl"><span class="label">XL: <span class="lower"></span> 1140px <span class="separator"></span><span class="upper"></span></span></div>
				<div class="container-xxl"><span class="label">XXL: <span class="lower"></span> 1320px <span class="separator"></span><span class="upper"></span></span></div>
			</f:comment>
			
		</div>
		<div class="smallgrid-overlay">
		</div>
	</div>
	<style>
		.layout-debug-element{
			display: none;
		}
	</style>
	<link rel="stylesheet" href="{f:uri.resource(path: 'EXT:bdm_vhs/Resources/Public/Css/debug.css')}"/>
	<script src="{f:uri.resource(path: 'EXT:bdm_vhs/Resources/Public/Js/debug.js')}"></script>
</div>
